<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  <link rel="stylesheet" href="">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <div class="header-container">
        <div class="burger_icon">
          <i class="fas fa-hamburger fa-7x"></i>
        </div>
        <h1>Create a burger!</h1r>
          <hr>
      </div>

      <div class="main-container">
        <section id="available-hamburgers">
          <ul id="burger-list">
            {{#each burgers}}
            {{#unless this.devoured}}
            <li class="available-burger">
              <span class="burgers">
                {{this.id}}
                {{this.burger_name}}
              </span>
              <span id="devour-button">
                <form action="/{{this.id}}?_method=PUT" method="POST">
                  <input type="hidden" name="devoured" value="true">
                  <button class="devour-button" type="submit" class="btn btn-danger btn-md">Devour it!</button>
                </form>
              </span>
            </li>
            {{/unless}}
            {{/each}}
          </ul>
        </section>
        <section id="devoured-hamburgers">
          <ul>
            {{#each burgers}}
            {{#if this.devoured}}
            <li class="devour-burger">
              {{this.id}}
              {{this.burger_name}}
            </li>
            {{/if}}
            {{/each}}
          </ul>
        </section>
      </div>
    </div>
    <div class="card">
      <div class="card-header">Enter a burger you want to eat. Click the "Submit" button</div>

      <br>

      <div class="text-center">


        <section id="new-burger">
          <form class="create-update-form" action="/" method="POST">

            <div class="form-group">
              <textarea id="new-burger-text" rows="4" name="burger_name"></textarea>
            </div>

            <button type="submit" class="btn btn-primary btn-md" id="new-burger-submit">Submit</button>
          </form>
          <br>
          <br>
      </div>
    </div>

    <p></p>

    </section>



</body>

</html>